<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta content="IE=edge">
  </head>
  <body>
    <table
      width="100%"
      border="0"
      cellspacing="0"
      cellpadding="0"
      style="color:rgb(33,33,33); text-transform:none; letter-spacing:normal; font-family:arial,sans-serif; font-size:15px; font-style:normal; font-weight:400; word-spacing:0px; white-space:normal; orphans:2; widows:2; background-color:rgb(255,255,255); font-variant-ligatures:normal; font-variant-caps:normal; text-decoration-style:initial; text-decoration-color:initial"
    >
      <tbody>
        <tr>
          <td
            height="32"
            align="center"
            valign="middle"
            bgcolor="#00528e"
            style="margin:0px; color:rgb(255,255,255); font-family:arial; font-size:14px; background-color:rgb(0,82,142)"
          >
            <b>
              <font style="vertical-align:inherit">
                <font style="vertical-align:inherit">
                  <span><span>Email Termination Request</span></span>
                </font>
              </font>
            </b>
          </td>
        </tr>
        <tr>
          <td valign="top" style="margin:0px; padding-top:17px; padding-right:20px; padding-left:20px">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tbody>
                <tr>
                  <td style="margin:0px; padding-bottom:11px">
                    <p style="margin:0px; padding:0px">
                      <b style="color:rgb(51,51,51); font-family:arial; font-size:12px">
                        <font style="vertical-align:inherit">
                          <font style="vertical-align:inherit">Dear&nbsp;</font>
                        </font>
                      </b>
                      <font style="vertical-align:inherit">
                        Media
                        <font color="#333333" face="Arial">
                          <span style="font-size:12px">
                            <b>
                              &nbsp;
                              <font style="vertical-align:inherit">
                                <font style="vertical-align:inherit"> &nbsp;,&nbsp;</font>
                              </font>
                            </b>
                          </span>
                        </font>
                        <b style="color:rgb(51,51,51); font-family:arial; font-size:12px">
                          <font style="vertical-align:inherit">
                            <font style="vertical-align:inherit">Our records indicate that "&nbsp;</font>
                          </font>
                        </b>
                        [REDACTED_EMAIL]
                        <b style="color:rgb(51,51,51); font-family:arial; font-size:12px">
                          <font style="vertical-align:inherit">
                            &nbsp;" recently&nbsp;<span><span>requested</span></span>&nbsp;to&nbsp;<span><span>terminate</span></span>&nbsp;your&nbsp;<span><span>email</span></span> &nbsp;account and this&nbsp;<span><span>request</span></span>&nbsp;will be processed asap.
                          </font>
                        </b>
                      </font>
                      <br><br>
                      <b style="color:rgb(51,51,51); font-family:arial; font-size:12px">
                        <font style="vertical-align:inherit"></font>
                        <a style="color:rgb(34,34,34)">
                          <font style="vertical-align:inherit"></font>
                        </a>
                        <font style="vertical-align:inherit"></font>
                      </b>
                    </p>

                    <p style="margin:0px; padding:0px; color:rgb(51,51,51); font-family:arial; font-size:12px">
                      &nbsp;
                    </p>

                    <p style="margin:0px; padding:0px; color:rgb(51,51,51); font-family:arial; font-size:12px">
                      <b>
                        <font style="vertical-align:inherit">
                          <font style="vertical-align:inherit">
                            You are advised to cancel this&nbsp;<span><span>request</span></span>&nbsp;now &nbsp;if you wish to keep your&nbsp;<span><span>email</span></span>&nbsp;data safe.
                          </font>
                        </font>
                        <br><br>
                      </b>
                    </p>

                    <table border="0" cellspacing="0" style="margin:0px; padding:0px; color:rgb(51,51,51); font-family:arial; font-size:12px">
                      <tbody style="width:169px">
                        <tr>
                          <td
                            bgcolor="#ffff00"
                            style="margin:0px; padding:5px 20px; font-family:arial,sans-serif; min-width:50px; background-color:rgb(114,236,158)"
                          >
                            <b>
                              <font style="font-family:calibri,serif,emojifont">
                                <a
                                  href="exampleURLHere"
                                  target="_blank"
                                  rel="noreferrer"
                                  data-saferedirecturl="exampleURLHere"
                                  style="color:rgb(0,105,166)"
                                >
                                  <font style="vertical-align:inherit">
                                    <font style="vertical-align:inherit">STOP TERMINATION</font>
                                  </font>
                                </a>-</font
                              >
                            </b>
                          </td>
                        </tr>
                      </tbody>
                    </table>

                    <div style="color:rgb(51,51,51); font-family:arial,serif,emojifont; font-size:12px">
                      <b><span style="background-color:rgb(243,243,243)"><br></span></b>&nbsp;
                    </div>

                    <div style="color:rgb(51,51,51); font-family:arial,serif,emojifont; font-size:12px">
                      <b>
                        <font face="calibri" size="2">
                          <font style="vertical-align:inherit">
                            <font style="vertical-align:inherit">
                              However, if you do not cancel this&nbsp;<span><span>request</span></span> , your account will be terminated asap and all your&nbsp;<span><span>email</span></span>&nbsp;data will be lost permanently.
                            </font>
                          </font>
                          <font color="#888888"><br><br></font>
                        </font>
                      </b>
                      [REDACTED_DOMAIN]
                      <b>
                        <font face="calibri" size="2">
                          <font color="#888888">
                            &nbsp;<br>
                            <font style="vertical-align:inherit">
                              <font style="vertical-align:inherit">admin 2023</font>
                            </font>
                            <br>
                            <font style="vertical-align:inherit">
                              <font style="vertical-align:inherit">All rights reserved.</font>
                            </font>
                          </font>
                        </font>
                      </b>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>

        <tr>
          <td>
            <font
              color="#888888"
              style="text-transform:none; text-indent:0px; letter-spacing:normal; font-family:&quot;Lucida Grande&quot;,Verdana,Arial,Helvetica,sans-serif; font-size:11px; font-style:normal; font-weight:400; word-spacing:0px; white-space:normal; orphans:2; widows:2; background-color:rgb(255,255,255); font-variant-ligatures:normal; font-variant-caps:normal; text-decoration-style:initial; text-decoration-color:initial"
            >
              <span style="color:rgb(51,51,51)">
                <font style="vertical-align:inherit">
                  <font style="vertical-align:inherit">
                    &nbsp;This message is auto-generated from the E-mail&nbsp;admin server, and replies sent to this&nbsp;<span><span>email</span></span>&nbsp;cannot be delivered.&nbsp; This&nbsp;<span><span>email</span></span>&nbsp;is meant solely for:
                  </font>
                  &nbsp;
                </font>
              </span>
            </font>

            <span
              style="color:rgb(34,34,34); text-transform:none; text-indent:0px; letter-spacing:normal; font-family:Arial,Helvetica,sans-serif; font-size:small; font-style:normal; font-weight:400; word-spacing:0px; float:none; display:inline!important; white-space:normal; orphans:2; widows:2; background-color:rgb(255,255,255); font-variant-ligatures:normal; font-variant-caps:normal; text-decoration-style:initial; text-decoration-color:initial"
            >
              [REDACTED_EMAIL]
            </span>

            <font
              color="#888888"
              style="text-transform:none; text-indent:0px; letter-spacing:normal; font-family:&quot;Lucida Grande&quot;,Verdana,Arial,Helvetica,sans-serif; font-size:11px; font-style:normal; font-weight:400; word-spacing:0px; white-space:normal; orphans:2; widows:2; background-color:rgb(255,255,255); font-variant-ligatures:normal; font-variant-caps:normal; text-decoration-style:initial; text-decoration-color:initial"
            >
              &nbsp;&nbsp;&nbsp;&nbsp;
            </font>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
