<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta content="IE=edge">
  </head>
  <body>
    <div style="text-align:center; color:rgb(34,34,34); text-transform:none; line-height:1.6; text-indent:0px; letter-spacing:normal; font-family:Helvetica,Arial,sans-serif; font-size:14px; font-style:normal; font-weight:400; margin-bottom:16px; word-spacing:0px; white-space:normal; orphans:2; widows:2; background-color:rgb(255,255,255); font-variant-ligatures:normal; font-variant-caps:normal; text-decoration-style:initial; text-decoration-color:initial">
      <p style="margin:0px 0px 12px">
        <span style="font-weight:bolder">&nbsp;Postmaster</span>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<wbr>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;
        <span style="font-weight:bolder">
          <a href="exampleURLHere" target="_blank" data-saferedirecturl="exampleURLHere" style="color:rgb(17,85,204)">[[domain_here]]</a>
        </span>
        <span>&nbsp;</span>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;
        <span style="font-weight:bolder">Recipient: [[recipient_here]]</span>&nbsp;<br>
      </p>

      <table cellspacing="0" cellpadding="0" style="padding:0px; width:557px; height:10px; text-align:left; margin-right:auto; margin-left:auto; border-collapse:collapse">
        <tbody>
          <tr height="10">
            <td width="180" height="10" bgcolor="#c00000" style="margin:0px; padding:0px; width:180px; height:10px; line-height:10px; font-family:Roboto,RobotoDraft,Helvetica,Arial,sans-serif; font-size:6px">&nbsp;</td>
            <td width="4" height="10" bgcolor="#ffffff" style="margin:0px; padding:0px; width:4px; height:10px; line-height:10px; font-family:Roboto,RobotoDraft,Helvetica,Arial,sans-serif; font-size:6px"></td>
            <td width="180" height="10" bgcolor="#cccccc" style="margin:0px; padding:0px; width:180px; height:10px; line-height:10px; font-family:Roboto,RobotoDraft,Helvetica,Arial,sans-serif; font-size:6px"></td>
            <td width="4" height="10" bgcolor="#ffffff" style="margin:0px; padding:0px; width:4px; height:10px; line-height:10px; font-family:Roboto,RobotoDraft,Helvetica,Arial,sans-serif; font-size:6px"></td>
            <td width="180" height="10" bgcolor="#cccccc" style="margin:0px; padding:0px; width:180px; height:10px; line-height:10px; font-family:Roboto,RobotoDraft,Helvetica,Arial,sans-serif; font-size:6px">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<wbr>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              &nbsp;
            </td>
          </tr>
        </tbody>
      </table>

      <br>

      <p style="font-family:arial,sans-serif; margin-top:0px">
        &nbsp; We're reaching out&nbsp;to let you know that we were unable to deliver&nbsp;some message(s) to your<br>
        &nbsp; email address due to&nbsp;<span dir="ltr" style="color:rgb(214,40,40)">security&nbsp;restrictions&nbsp;<font color="#000000">on your mail&nbsp;server.</font></span>
      </p>

      <p style="font-family:arial,sans-serif; margin-top:0px">
        <span dir="ltr" style="color:rgb(214,40,40)"><font color="#000000">&nbsp; It appears that your system settings are currently blocking incoming messages.</font></span>
      </p>

      <p style="margin:0px 0px 12px">
        <span style="font-weight:bolder">&nbsp; Account Information:</span>
      </p>

      <p style="margin:0px 0px 12px">
        &nbsp;&nbsp;Email Address:&nbsp;
        <a href="exampleURLHere" target="_blank" data-saferedirecturl="exampleURLHere" style="color:rgb(17,85,204)">[[email_address_here]]</a>
      </p>

      <p style="margin:0px 0px 12px">
        &nbsp;&nbsp;Status:&nbsp;<span style="color:rgb(243,12,46)">Held</span>
      </p>

      <a
        href="exampleURLHere"
        target="_blank"
        rel="noreferrer"
        data-saferedirecturl="exampleURLHere"
        style="margin:8px 4px; padding:10px 20px; color:rgb(255,255,255); font-weight:bold; background-color:rgb(0,122,204)"
      >
        Allow Message
      </a>
      <span>&nbsp;</span>
      &nbsp;&nbsp;&nbsp; &nbsp;
      <a
        href="exampleURLHere"
        target="_blank"
        rel="noreferrer"
        data-saferedirecturl="exampleURLHere"
        style="margin:8px 4px; padding:10px 20px; color:rgb(33,33,33); font-weight:bold; background-color:rgb(224,224,224)"
      >
        Review Message
      </a>
    </div>

    <div style="text-align:center; color:rgb(102,102,102); text-transform:none; text-indent:0px; letter-spacing:normal; font-family:Helvetica,Arial,sans-serif; font-size:10px; font-style:normal; font-weight:400; margin-top:16px; word-spacing:0px; white-space:normal; orphans:2; widows:2; background-color:rgb(255,255,255); font-variant-ligatures:normal; font-variant-caps:normal; text-decoration-style:initial; text-decoration-color:initial">
      © 2025. All Rights Reserved.
    </div>
  </body>
</html>
