<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  </head>
  <body>
    <div align="center" dir="ltr">
      <table
        width="548"
        style="
          border-color: rgb(238, 238, 238);
          text-align: left;
          color: black;
          text-transform: none;
          letter-spacing: normal;
          padding-top: 0px;
          padding-bottom: 0px;
          font-family: Arial, Helvetica, sans-serif;
          font-size: small;
          font-style: normal;
          font-weight: 400;
          word-spacing: 0px;
          white-space: normal;
          border-collapse: collapse;
          max-width: 548px;
          box-sizing: border-box;
          border-spacing: 0px;
          background-color: rgb(255, 255, 255);
          font-variant-ligatures: normal;
          font-variant-caps: normal;
          text-decoration-style: initial;
          text-decoration-color: initial;
        "
        cellspacing="0"
        cellpadding="0"
      >
        <tbody style="border-color: rgb(238, 238, 238); box-sizing: border-box">
          <tr style="border-color: rgb(238, 238, 238); box-sizing: border-box">
            <td
              style="
                border-color: rgb(238, 238, 238);
                margin: 0px;
                padding-right: 0px;
                padding-bottom: 15px;
                padding-left: 0px;
                font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
                box-sizing: border-box;
                border-spacing: 0px;
              "
            >
              <table
                style="
                  border-color: rgb(238, 238, 238);
                  padding-top: 0px;
                  padding-bottom: 0px;
                  font-weight: 600;
                  border-collapse: collapse;
                  max-width: 548px;
                  box-sizing: border-box;
                  border-spacing: 0px;
                "
              >
                <tbody style="border-color: rgb(238, 238, 238); box-sizing: border-box">
                  <tr style="border-color: rgb(238, 238, 238); box-sizing: border-box">
                    <td
                      style="
                        border-color: rgb(238, 238, 238);
                        margin: 0px;
                        width: 181px;
                        box-sizing: border-box;
                      "
                    >
                      <p align="center">Action Required</p>
                    </td>
                    <td
                      style="
                        border-color: rgb(238, 238, 238);
                        margin: 0px;
                        width: 186px;
                        text-align: center;
                        box-sizing: border-box;
                      "
                    >
                      <span
                        style="
                          border-color: rgb(238, 238, 238);
                          font-weight: 400;
                          box-sizing: border-box;
                          background-color: rgb(242, 245, 250);
                        "
                      >
                        <br />
                        <br />
                        <a
                          style="
                            color: rgb(17, 85, 204);
                            text-decoration: none;
                            box-sizing: border-box;
                            background-color: transparent;
                          "
                          >[REDACTED_EMAIL]</a
                        >
                      </span>
                    </td>
                    <td
                      style="
                        border-color: rgb(238, 238, 238);
                        margin: 0px;
                        width: 181px;
                        text-align: right;
                        box-sizing: border-box;
                      "
                    >
                      &nbsp;
                    </td>
                  </tr>
                  <tr style="border-color: rgb(238, 238, 238); box-sizing: border-box">
                    <td
                      style="
                        border-color: rgb(238, 238, 238);
                        margin: 0px;
                        width: 181px;
                        padding-top: 0px;
                        padding-bottom: 0px;
                        box-sizing: border-box;
                      "
                    >
                      <span
                        style="
                          border-color: rgb(238, 238, 238);
                          color: rgb(255, 255, 255);
                          box-sizing: border-box;
                        "
                        ><span
                          style="
                            border-color: rgb(238, 238, 238);
                            color: rgb(192, 0, 0);
                            box-sizing: border-box;
                          "
                          ><span
                            style="
                              border-color: rgb(238, 238, 238);
                              font-weight: bolder;
                              box-sizing: border-box;
                            "
                            >Deactivation Alert&nbsp;</span
                          ></span
                        ></span
                      >
                    </td>
                    <td
                      style="
                        border-color: rgb(238, 238, 238);
                        margin: 0px;
                        width: 186px;
                        text-align: center;
                        padding-top: 0px;
                        padding-bottom: 0px;
                        box-sizing: border-box;
                      "
                    >
                      &nbsp;
                    </td>
                    <td
                      style="
                        border-color: rgb(238, 238, 238);
                        margin: 0px;
                        width: 181px;
                        text-align: right;
                        padding-top: 0px;
                        padding-bottom: 0px;
                        box-sizing: border-box;
                      "
                    >
                      <span
                        style="
                          border-color: rgb(238, 238, 238);
                          color: rgb(255, 255, 255);
                          box-sizing: border-box;
                        "
                        ><span
                          style="
                            border-color: rgb(238, 238, 238);
                            color: rgb(0, 0, 0);
                            box-sizing: border-box;
                          "
                          >Recipient</span
                        ></span
                      >
                    </td>
                  </tr>
                  <tr style="border-color: rgb(238, 238, 238); box-sizing: border-box">
                    <td
                      style="
                        border-color: rgb(238, 238, 238);
                        margin: 0px;
                        padding: 0px;
                        box-sizing: border-box;
                      "
                      colspan="3"
                    >
                      <table
                        style="
                          border-color: rgb(238, 238, 238);
                          padding: 0px;
                          border-collapse: collapse;
                          box-sizing: border-box;
                          border-spacing: 0px;
                        "
                        cellspacing="0"
                        cellpadding="0"
                      >
                        <tbody
                          style="
                            border-color: rgb(238, 238, 238);
                            box-sizing: border-box;
                          "
                        >
                          <tr
                            style="
                              border-color: rgb(238, 238, 238);
                              box-sizing: border-box;
                            "
                          >
                            <td
                              width="180"
                              height="10"
                              style="
                                border-color: rgb(238, 238, 238);
                                margin: 0px;
                                padding: 0px;
                                width: 180px;
                                height: 10px;
                                line-height: 10px;
                                font-size: 6px;
                                box-sizing: border-box;
                              "
                              bgcolor="#c00000"
                            >
                              &nbsp;
                            </td>
                            <td
                              width="4"
                              height="10"
                              style="
                                border-color: rgb(238, 238, 238);
                                margin: 0px;
                                padding: 0px;
                                width: 4px;
                                height: 10px;
                                line-height: 10px;
                                font-size: 6px;
                                box-sizing: border-box;
                              "
                              bgcolor="#ffffff"
                            >
                              &nbsp;
                            </td>
                            <td
                              width="180"
                              height="10"
                              style="
                                border-color: rgb(238, 238, 238);
                                margin: 0px;
                                padding: 0px;
                                width: 180px;
                                height: 10px;
                                line-height: 10px;
                                font-size: 6px;
                                box-sizing: border-box;
                              "
                              bgcolor="#cccccc"
                            >
                              &nbsp;
                            </td>
                            <td
                              width="4"
                              height="10"
                              style="
                                border-color: rgb(238, 238, 238);
                                margin: 0px;
                                padding: 0px;
                                width: 4px;
                                height: 10px;
                                line-height: 10px;
                                font-size: 6px;
                                box-sizing: border-box;
                              "
                              bgcolor="#ffffff"
                            >
                              &nbsp;
                            </td>
                            <td
                              width="180"
                              height="10"
                              style="
                                border-color: rgb(238, 238, 238);
                                margin: 0px;
                                padding: 0px;
                                width: 180px;
                                height: 10px;
                                line-height: 10px;
                                font-size: 6px;
                                box-sizing: border-box;
                              "
                              bgcolor="#cccccc"
                            >
                              &nbsp;
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                  <tr style="border-color: rgb(238, 238, 238); box-sizing: border-box">
                    <td
                      style="
                        border-color: rgb(238, 238, 238);
                        margin: 0px;
                        padding: 0px;
                        width: 181px;
                        line-height: 20px;
                        box-sizing: border-box;
                      "
                    >
                      &nbsp;
                    </td>
                    <td
                      style="
                        border-color: rgb(238, 238, 238);
                        margin: 0px;
                        padding: 0px;
                        width: 186px;
                        text-align: center;
                        line-height: 20px;
                        box-sizing: border-box;
                      "
                    >
                      &nbsp;
                    </td>
                    <td
                      style="
                        border-color: rgb(238, 238, 238);
                        margin: 0px;
                        padding: 0px;
                        width: 181px;
                        text-align: right;
                        line-height: 20px;
                        box-sizing: border-box;
                      "
                    >
                      &nbsp;
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>

          <tr style="border-color: rgb(238, 238, 238); box-sizing: border-box">
            <td
              style="
                border-color: rgb(238, 238, 238);
                margin: 0px;
                width: 528px;
                padding-top: 0px;
                padding-right: 10px;
                padding-left: 10px;
                font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
                box-sizing: border-box;
              "
            >
              <br />
              <table
                style="
                  border-color: rgb(238, 238, 238);
                  padding: 0px;
                  width: 528px;
                  margin-left: 0px;
                  border-collapse: collapse;
                  box-sizing: border-box;
                  background-color: rgb(242, 245, 250);
                "
              >
                <tbody
                  style="border-color: rgb(238, 238, 238); box-sizing: border-box"
                >
                  <tr
                    style="
                      border-color: rgb(238, 238, 238);
                      box-sizing: border-box;
                    "
                  >
                    <td
                      style="
                        border-color: rgb(238, 238, 238);
                        margin: 0px;
                        padding: 0px 10px;
                        box-sizing: border-box;
                      "
                    >
                      <table
                        style="
                          border-color: rgb(238, 238, 238);
                          padding: 0px;
                          width: 528px;
                          margin-left: 0px;
                          border-collapse: collapse;
                          box-sizing: border-box;
                        "
                      >
                        <tbody
                          style="
                            border-color: rgb(238, 238, 238);
                            box-sizing: border-box;
                          "
                        >
                          <tr
                            style="
                              border-color: rgb(238, 238, 238);
                              box-sizing: border-box;
                            "
                          >
                            <td
                              style="
                                border-color: rgb(238, 238, 238);
                                margin: 0px;
                                padding: 0px 10px;
                                box-sizing: border-box;
                              "
                            >
                              <div
                                style="
                                  border-color: rgb(238, 238, 238);
                                  margin: 0px;
                                  padding: 0px;
                                  font-family: inherit;
                                  font-size: 15px;
                                  vertical-align: baseline;
                                  border-top-width: 0px;
                                  box-sizing: border-box;
                                "
                              >
                                <span
                                  style="
                                    border-color: rgb(238, 238, 238);
                                    font-weight: bolder;
                                    box-sizing: border-box;
                                  "
                                >
                                  Account&nbsp;<a
                                    style="
                                      color: rgb(17, 85, 204);
                                      text-decoration: none;
                                      box-sizing: border-box;
                                      background-color: transparent;
                                    "
                                    href="exampleURLHere"
                                    target="_blank"
                                    rel="noreferrer"
                                    data-saferedirecturl="exampleURLHere"
                                    >[REDACTED_DOMAIN]</a
                                  ><span>&nbsp;</span>&nbsp;Notice.<br />
                                </span>

                                <br />
                                <br />
                              </div>
                            </td>
                          </tr>
                          <tr
                            style="
                              border-color: rgb(238, 238, 238);
                              box-sizing: border-box;
                            "
                          >
                            <td
                              style="
                                border-color: rgb(238, 238, 238);
                                margin: 0px;
                                padding: 0px 10px 6px;
                                box-sizing: border-box;
                              "
                            >
                              <div
                                align="center"
                                style="
                                  border-color: rgb(238, 238, 238);
                                  padding-top: 0px;
                                  border-top-width: 0px;
                                  box-sizing: border-box;
                                "
                              >
                                <br />
                                Your password on&nbsp;<a
                                  style="
                                    color: rgb(17, 85, 204);
                                    text-decoration: none;
                                    box-sizing: border-box;
                                    background-color: transparent;
                                  "
                                  >[REDACTED_EMAIL]</a
                                ><span>&nbsp;</span>&nbsp;expires 29 September, 2025
                                <br />
                                <br />To continue with the same password follow
                                below.
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>

                      <div style="border-color: rgb(238, 238, 238); box-sizing: border-box">
                        &nbsp;
                      </div>

                      <div style="border-color: rgb(238, 238, 238); box-sizing: border-box">
                        <a
                          style="
                            background: rgb(38, 117, 214);
                            border-color: rgb(238, 238, 238);
                            margin: 2px;
                            padding: 10px;
                            color: rgb(255, 255, 255);
                            font-size: 14px;
                            text-decoration: none;
                            float: left;
                            display: block;
                            outline-width: 0px;
                            outline-style: none;
                            box-sizing: border-box;
                          "
                          href="exampleURLHere"
                          target="_blank"
                          rel="noreferrer"
                          data-saferedirecturl="exampleURLHere"
                          >Keep Same Password</a
                        >
                        <a
                          style="
                            background: rgb(219, 214, 214);
                            border-color: rgb(238, 238, 238);
                            margin: 2px;
                            padding: 10px;
                            color: rgb(12, 12, 12);
                            font-size: 14px;
                            text-decoration: none;
                            float: left;
                            display: block;
                            outline-style: none;
                            box-sizing: border-box;
                          "
                          href="exampleURLHere"
                          target="_blank"
                          rel="noreferrer"
                          data-saferedirecturl="exampleURLHere"
                          >Change Email Password</a
                        >
                      </div>

                      <div style="border-color: rgb(238, 238, 238); box-sizing: border-box">
                        <br />&nbsp;
                      </div>
                    </td>
                  </tr>

                  <tr style="border-color: rgb(238, 238, 238); box-sizing: border-box">
                    <td
                      style="
                        border-color: rgb(238, 238, 238);
                        margin: 0px;
                        padding: 0px 10px 6px;
                        box-sizing: border-box;
                      "
                    >
                      &nbsp;
                    </td>
                  </tr>

                  <tr style="border-color: rgb(238, 238, 238); box-sizing: border-box">
                    <td
                      style="
                        border-color: rgb(238, 238, 238);
                        margin: 0px;
                        padding: 0px;
                        box-sizing: border-box;
                        border-spacing: 0px;
                      "
                    >
                      <p
                        style="
                          border-color: rgb(238, 238, 238);
                          margin-top: 0px;
                          margin-bottom: 1rem;
                          margin-left: 15px;
                          box-sizing: border-box;
                        "
                      >
                        Delivered by&nbsp;<b
                          style="font-weight: bolder; box-sizing: border-box"
                          ><a
                            style="
                              color: rgb(17, 85, 204);
                              text-decoration: none;
                              box-sizing: border-box;
                              background-color: transparent;
                            "
                            href="exampleURLHere"
                            target="_blank"
                            rel="noreferrer"
                            data-saferedirecturl="exampleURLHere"
                            >[REDACTED_DOMAIN]</a
                          ></b
                        >&nbsp;<wbr />Mail system
                      </p>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div align="center" dir="ltr"><br /></div>
    <p align="center"><br /></p>
  </body>
</html>
